<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two-Factor Authentication</title>
    {% load static %}
</head>
<body>
    <h1>Two-Factor Authentication</h1>
    <p>Please enter the code you received on your email associated with your account.</p>
    <form id="authenticationForm">
        <label for="verificationCode">Verification Code:</label>
        <input type="text" id="verificationCode" name="verificationCode" required><br><br>
        <button class="nav-button" type="submit">Submit</button>
    </form>
    <script>
        const userEmail = "{{ user.email }}"; // Passer l'email comme variable de contexte
    </script>
    <script src="{% static 'js/authentication.js' %}"></script>
</body>
</html>