<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Transcendence</title>
		{% load static %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	</head>
	<body>
        <div class="page-wrapper">
            {% include 'header.html' %}
            <div id="content">
                {% block content %}
                {% include content_template %}
                {% endblock %}
            </div>
            <footer class="main-footer">
                <div class="footer-links">
                    <a href="{% url 'rgpd' %}">GDPR</a>
                    <a href="{% url 'mentions_legales' %}">Legal notice</a>
                    <a href="{% url 'regles' %}">Site rules</a>
                </div>
            </footer>
        </div>
        <script src="{% static 'js/auth-header.js' %}"></script>
        <script src="{% static 'js/dynamic.js' %}"></script>
    </body>
</html>
