<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mentions Légales</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body>
    <div style="margin: 20px;">
        <h1>Mentions Légales</h1>
        
        <!-- Section principale -->
        <div style="border: 1px solid #ccc; padding: 20px; margin-bottom: 20px;">
            <h5>Date de mise à jour : 2 avril 2025</h5>
            <p>Conformément à l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique (LCEN), voici les mentions légales du site pong.ovh :</p>

            <h3>1. Éditeurs du site</h3>
            <p>Le site pong.ovh est édité par :</p>
            <ul>
                <li>Théo Gérardin</li>
                <li>Romain Lambert</li>
                <li>Florent Belotti</li>
            </ul>
            <p>Nous sommes trois étudiants français et ce site est un projet personnel sans but commercial.</p>

            <h3>2. Contact</h3>
            <p>Pour nous contacter : <a href="mailto:changermailiciptnfautpenseralefaire@pong.ovh">contact@pong.ovh</a></p>

            <h3>3. Hébergement</h3>
            <p>Le site est hébergé par :</p>
            <p>OVH SAS<br>
            2 rue Kellermann<br>
            59100 Roubaix, France<br>
            Téléphone : +33 9 72 10 10 07</p>

            <h3>4. Données personnelles</h3>
            <p>Pour plus d’informations sur la collecte et le traitement de vos données personnelles, consultez notre <a href="/rgpd">Politique de Protection des Données (RGPD)</a>.</p>
        </div>

        <script src="{% static 'js/account.js' %}"></script>
    </div>
</body>
</html>