{% load static %}
{% block content %}
<header>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <nav>
        <h1>TRANSCENDENCE</h1>
        <ul>
            <li><button class="nav-button" data-url="{% url 'home' %}">Home</button></li>
            <li><button type="button" class="pong-button" id="pong-game-button">Pong</button></li>
            <li><button class="nav-button" data-url="{% url 'snake' %}">Snake</button></li>
            <!-- <li><button class="nav-button" data-url="{% url 'leaderboard' %}">Stats</button></li> -->
            <span id="auth-buttons"></span>
        </ul>
    </nav>

    <div id="pong-modal" class="modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h2>Game Mode</h2>
            <button class="modal-button" data-url="{% url 'local' %}">Local</button>
            <button class="modal-button" data-url="{% url 'vsBot' %}">IA</button>
            <button class="modal-button" data-url="{% url 'match' %}">Match</button>
            <button class="modal-button" data-url="{% url 'tournament' %}">Tournament</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const pongModal = document.getElementById('pong-modal');
            const pongGameButton = document.getElementById('pong-game-button');
            const closeModalButton = document.querySelector('.close-modal');
            pongGameButton.addEventListener('click', function (event) {
                event.preventDefault();
                pongModal.style.display = 'block';
            });
            closeModalButton.addEventListener('click', function () {
                pongModal.style.display = 'none';
            });
            window.addEventListener('click', function (event) {
                if (event.target === pongModal) {
                    pongModal.style.display = 'none';
                }
            });
            const modalButtons = document.querySelectorAll('.modal-button');
            modalButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const url = button.getAttribute('data-url');
                    if (url) {
                        window.location.href = url;
                    }
                });
            });
        });
    </script>

	<script type="importmap">
		{
			"imports": {
				"three": "https://cdn.jsdelivr.net/npm/three@0.152.0/build/three.module.js",
				"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.152.0/examples/jsm/"
			}
		}
	</script>

    <style>
        @font-face {
            font-family: 'PPNeueMontreal';
            src: url('{% static "fonts/PPNeueMontreal-Book.otf" %}') format('truetype');
        }
    </style>
</header>
{% endblock %}
