{% load static %}
{% block content %}
<header>
	<!-- <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<nav>
		<ul>
			<div class="left-header-button">
				<li><button class="nav-button" data-url="{% url 'home' %}">Home</button></li>
				<li id="game-buttons"></li>
			</div>
			<div class="right-header-button">
				<li id="auth-buttons"></li>
			</div>
			<div class="menu-item-slider"></div>
		</ul>
	</nav>

	<div id="pong-modal" class="modal">
		<div class="modal-content">
			<h2>Games</h2>
			<span class="close-modal">&times;</span>
			<div class="horizontal-line"></div>
			<h3>Pong Mode</h3>
			<button class="modal-button" data-url="{% url 'local' %}">Local</button>
			<button class="modal-button" data-url="{% url 'vsBot' %}">IA</button>
			<button class="modal-button" data-url="{% url 'match' %}">Match</button>
			<button class="modal-button" data-url="{% url 'tournament' %}">Tournament</button>
			<div class="horizontal-line"></div>
			<h3>Other Game</h3>
			<button class="modal-button" data-url="{% url 'snake' %}">Snake</button>
		</div>
	</div>

	<div id="friends-modal" class="modal">
		<div class="modal-content">
			{% csrf_token %}
			<div class="friends-section">
				<h2>Friends List</h2>
				<span class="close-friends-modal">&times;</span>
				<div class="horizontal-line"></div>

				<div>
					<div id="add-friend-form">
						<input type="text" id="friend-username" placeholder="Add Friend" />
						<button id="add-friend-button">+</button>
					</div>
					<div id="add-friend-message" class="add-friend-message"></div>
				</div>

				<div class="horizontal-line"></div>
				<div class="invitations-section">
					<div id="game-invitations-container">
						<p>Chargement des invitations...</p>
					</div>
				</div>
				<div id="friends-list">
					<!-- La liste sera remplie dynamiquement via JavaScript -->
				</div>
			</div>
		</div>
	</div>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const pongModal = document.getElementById('pong-modal');
			const closeModalButton = document.querySelector('.close-modal');

			closeModalButton.addEventListener('click', function () {
				pongModal.style.display = 'none';
			});
			window.addEventListener('click', function (event) {
				if (event.target === pongModal) {
					pongModal.style.display = 'none';
				}
			});
			const modalButtons = document.querySelectorAll('.modal-button');
			modalButtons.forEach(button => {
				button.addEventListener('click', function () {
					const url = button.getAttribute('data-url');
					if (url) {
						window.location.href = url;
					}
				});
			});

			// Friends Modal
			const friendsModal = document.getElementById('friends-modal');
			const friendsButton = document.getElementById('friends-button');
			const closeFriendsModal = document.querySelector('.close-friends-modal');
			const friendsList = document.getElementById('friends-list');
			const addFriendButton = document.getElementById('add-friend-button');
			const friendUsernameInput = document.getElementById('friend-username');

			friendsButton.addEventListener('click', function () {
				fetchFriends();
				friendsModal.style.display = 'block';
			});

			closeFriendsModal.addEventListener('click', function () {
				friendsModal.style.display = 'none';
			});

			window.addEventListener('click', function (event) {
				if (event.target === friendsModal) {
					friendsModal.style.display = 'none';
				}
			});

			addFriendButton.addEventListener('click', function () {
				const username = friendUsernameInput.value.trim();
				if (username) {
					addFriend(username);
					friendUsernameInput.value = ''; // Réinitialiser l'input
				}
			});
		});
	</script>

	<script type="importmap">
		{
			"imports": {
				"three": "https://cdn.jsdelivr.net/npm/three@0.152.0/build/three.module.js",
				"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.152.0/examples/jsm/"
			}
		}
	</script>

	<script src="{% static 'js/gameInvitations.js' %}"></script>
	<script src="{% static 'js/friendModal.js' %}"></script>
	<style>
		@font-face {
			font-family: 'PPNeueMontreal';
			src: url('{% static "fonts/PPNeueMontreal-Book.otf" %}') format('truetype');
		}
	</style>
</header>
{% endblock %}
