{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">

	<div class="pong-container">
		<canvas class="noise-canvas"></canvas>
	</div>
	<h1 class="main-title">transcendence.</h1>

	<!-- <script src="{% static 'js/animationPong.js' %}"></script> -->
	<script>
		// Ensure animation starts when the home page is loaded
		document.addEventListener('DOMContentLoaded', function() {
			if (typeof window.initPongAnimation === 'function' && !window.pongAnimationInitialized) {
				window.initPongAnimation();
			}
		});
	</script>
	<style>
		@font-face {
			font-family: 'QuarionBold';
			src: url("{% static 'fonts/QuarionBold.otf' %}") format('opentype');
			font-weight: bold;
			font-style: normal;
			font-display: swap;
		}
	</style>
{% endblock %}