{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">

<div class="container">
    <h1>Leaderboard</h1>
	<div class="horizontal-line"></div>
    <div class="table-container">
        <table id="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Elo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="player-info">
                        {% if user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="profile-picture">
                        {% else %}
                            <div class="profile-picture default">
                                <span>{{ user.username|first|upper }}</span>
                            </div>
                        {% endif %}
                        <span class="username">{{ user.username }}</span>
                        <!-- Pastille verte -->
                  	</td>
                    <td class="elo">{{ user.elo }} PP</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Match History Section -->
<div class="container">
	<h1>Game history</h1>

	{% if user_history %}
	<div class="table-container">
		<table id="leaderboard-table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Opponent</th>
					<th>Game mode</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				{% for match in user_history %}
				<tr class="match-played {% if match.result == 'win' %}win{% elif match.result == 'loss' %}loss{% endif %}">
					<td>{{ match.timestamp|slice:":19" }}</td>
					<td class="player-info">
						{% if match.opponent_picture_url %}
							<img src="{{ match.opponent_picture_url }}" alt="{{ match.opponent_username }}" class="profile-picture">
						{% else %}
							<div class="profile-picture">
								<span>{{ match.opponent_username|first|upper }}</span>
							</div>
						{% endif %}
						<span class="username">{{ match.opponent_username }}</span>
					</td>
					<td>
						{% if match.match_type == 'tournament_semifinal' %}
							Semi-finals
						{% elif match.match_type == 'tournament_third_place' %}
							Match for the third place
						{% elif match.match_type == 'tournament_final' %}
							Tournament final
						{% elif match.match_type == 'canceled_tournament' %}
							Canceled tournament
						{% else %}
							Regular match
						{% endif %}
					</td>
					<td class="win-loose">
						{% if match.result == 'win' %}
							<span class="result win">Win</span>
						{% elif match.result == 'loss' %}
							<span class="result loss">Loss</span>
						{% elif match.result == 'cancel' %}
							<span class="result loss">Canceled</span>
						{% elif match.result == 'forfeit' %}
							<span class="result forfeit">Forfeit</span>
						{% else %}
							{{ match.result }}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
	<div class="">
		<p>Nos history yet.</p>
	</div>
	{% endif %}
</div>
<footer class="main-footer">
	<div class="footer-links">
		<button class="footer-button" data-url="{% url 'rgpd' %}">GDPR</button>
		<button class="footer-button" data-url="{% url 'mentions_legales' %}">Legal notice</button>
		<button class="footer-button" data-url="{% url 'regles' %}">Site rules</button>
	</div>
</footer>

<!-- Add this CSS to match your friends.html styling for profile pictures -->
<style>
    .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        display: inline-flex;
    }
</style>

<script src="{% static 'js/leaderboard.js' %}"></script>
