{% load static %}
<link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">

<div class="container">
    <h1>Classement</h1>
    
    <div class="table-container">
        <table id="leaderboard-table">
            <thead>
                <tr>
                    <th>Rang</th>
                    <th>Joueur</th>
                    <th>ELO</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="player-info">
                        {% if user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="profile-picture">
                        {% else %}
                            <div class="profile-picture default">
                                <span>{{ user.username|first|upper }}</span>
                            </div>
                        {% endif %}
                        <span class="username">{{ user.username }}</span>
                        <!-- Pastille verte -->
                        <span class="status-dot {% if user.is_online %}green{% else %}gray{% endif %}"></span>                    </td>
                    <td class="elo">{{ user.elo }} points</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/leaderboard.js' %}"></script>