<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    {% load static %}
</head>
<body>
    <h1>Leaderboard</h1>
    <table id="leaderboard">
        <thead>
            <tr>
                <th>Nickname</th>
                <th>ELO</th>
            </tr>
        </thead>
        <tbody>
            <!-- Les données du leaderboard seront insérées ici par JavaScript -->
        </tbody>
    </table>
    <script src="{% static 'js/leaderboard.js' %}"></script>
</body>
</html>