<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
	<body>
		<div class="box">
			<div class="left-box">
				<div class="cube">
					<div id="cube-container"></div>
				</div>
				<div class="signup">
					<a href="{% url 'register' %}">I'm not a Transcendence member</a>
				</div>
			</div>
			<div class="right-box">
				<h1>Connection</h1>
				<div id="errorMessage" style="color: red; display: none;"></div>
				<div>
					<form id="loginForm">
						{% csrf_token %}
						<div class="username group">
							<img src="{% static 'assets/username.png' %}">
							{{ form.username }}
						</div>
						<div class="password group">
							<img src="{% static 'assets/password1.png' %}">
							{{ form.password }}
						</div>
						<div class="buttons-container">
							<button type="submit" class="submit-button">Login</button>
							<div class="social">
								<p>connect with</p>
								<a href="{% url 'social:begin' 'intra42' %}">
									<img src="{% static 'assets/42.svg' %}" class="social-img">
								</a>
							</div>
						</div>
						<p><a href="{% url 'password_reset_request' %}">Forgot password?</a></p>
					</form>
				</div>
			</div>
		</div>
		<div id="verifyModal" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close-modal">&times;</span>
					<h1>Verify Code</h1>
				</div>
				<div id="verifyErrorMessage"></div>
				<form id="verifyCodeForm">
					{% csrf_token %}
					<div class="label-code">
						<label for="code">Verification code :</label>
					</div>
					<div class="input-code">
						<input type="text" id="code" name="code" required>
					</div>
					<div class="button-code">
						<button type="submit">Verify</button>
					</div>
				</form>
			</div>
		</div>
		<script type="module" src="{% static 'js/cubeAnimation.js' %}"></script>
		<script src="{% static 'js/login.js' %}"></script>
		<script src="{% static 'js/verify_code.js' %}"></script>
	</body>
</html>
