<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pongserver</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/match.css'%}">
</head>
<body>
    <div class="controls-container">
        <button id="inviteFriendsBtn" class="invite-friends-btn">Invite Friends</button>
        <button id="matchmaking" class="matchmaking-btn">Search for a game</button>
    </div>

    <div class="pong-div">
        <canvas class="pong" id="pongServer" width="800" height="550"></canvas>
    </div>

    <script>
        const currentUser = {
            username: "{{ request.user.username }}",
            nickname: "{{ request.user.nickname|default:'' }}",
            elo: {{ request.user.elo }}
        };
    </script>
    <script src="{% static 'js/friendInviteManager.js' %}"></script>
    <script src="{% static 'js/pongServer.js' %}"></script>
</body>
</html>
