<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pongserver</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/match.css'%}">
</head>
<body>
	<div class="pong-div">
		<canvas class="pong" id="pongServer" width="800" height="550"></canvas>
	</div>
	<div class="button-match">
		<button id="matchmaking">Lancer la recherche</button>
	</div>
	<script src="{% static 'js/pongServer.js' %}"></script>
</body>
</html>
