<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialiser le mot de passe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="box">
        <div class="left-box">
            <div class="cube">
                <div id="cube-container"></div>
            </div>
            <div class="signup">
                <a href="{% url 'login' %}">Retour au login</a>
            </div>
        </div>
        <div class="right-box">
            <h1>Réinitialiser le mot de passe</h1>
            <div id="errorMessage" style="color: red; display: none;"></div>
            <form id="resetRequestForm">
                {% csrf_token %}
                <div class="username group">
                    <img src="{% static 'assets/username.png' %}">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <button type="submit" class="submit-button">Envoyer le lien</button>
            </form>
        </div>
    </div>
    <script type="module" src="{% static 'js/cubeAnimation.js' %}"></script>
    <script src="{% static 'js/password_reset_request.js' %}"></script>
</body>
</html>