{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Snake Game</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import map for Three.js -->
    <!-- <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.152.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.152.0/examples/jsm/"
            }
        }
    </script> -->
</head>
<body class="snake-page">
    <div id="message"></div>
    <div id="score"></div>
    <script type="module" src="{% static 'js/snake.js' %}"></script>
</body>
</html>
