<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
</head>
<body>
<div class="pong-div">
    <canvas class="pong" id="tournamentCanvas" width="800" height="550"></canvas>
</div>
<div id="tournamentInfo" class="tournament-info"></div>

<script>
    const currentUser = {
        username: "{{ request.user.username }}",
        nickname: "{{ request.user.nickname|default:'' }}",
        elo: {{ request.user.elo }}
    };
</script>
<script src="{% static 'js/tournamentClient.js' %}"></script>
</body>
</html>