<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification du code</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/verify_code.css' %}">
</head>
<body>
    <h1>Vérification du code</h1>
    <div id="errorMessage" style="color: red; display: none;"></div>
    <form id="verifyCodeForm">
        {% csrf_token %}
        <label for="code">Code de vérification :</label>
        <input type="text" id="code" name="code" required>
        <button type="submit">Vérifier</button>
    </form>
    <script src="{% static 'js/verify_code.js' %}"></script>
</body>
</html>
