<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification du code</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/verify_code.css' %}">
</head>
<body>
    <div class="verify-container">
        <h1>Vérification du code</h1>
        <div id="errorMessage" style="color: red; display: none;"></div>
        
        <form id="verifyCodeForm" class="verify-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.code.id_for_label }}">Code de vérification :</label>
                {{ form.code }}
                <span id="code-error" class="error"></span>
            </div>

            <button type="submit" class="submit-btn">Vérifier</button>
        </form>
    </div>
    <script src="{% static 'js/verify_code.js' %}"></script>
</body>
</html>