.main-footer {
	display: block;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 15;
    flex-shrink: 0;
}

.footer-button {
    background: none;
    border: none;
    color: white; /* Couleur des liens */
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    text-decoration: underline;
    transition: color 0.3s;
}

.footer-button:hover {
    color: #0056b3; /* Couleur au survol */
}
