body {
    font-family: 'PPNeueMontreal', sans-serif; /* Alignement avec le header */
    background-color: #F7F7F7; /* Couleur de fond de la modale */
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0; /* Pas de padding supplémentaire dans la modale */
    background-color: transparent; /* Pas de fond spécifique */
    box-shadow: none; /* Pas d'ombre dans la modale */
    margin: 0;
    max-width: none; /* Pleine largeur dans la modale */
    border-radius: 0;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #000; /* Alignement avec le style du header */
    border-radius: 4px;
    width: calc(100% - 22px);
}

.messages {
    list-style-type: none;
    padding: 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
}

.messages .error {
    background-color: #f8d7da;
    color: #721c24;
}

.profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.status-notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    animation: fadeIn 0.3s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
