header{
	background-color: #5D3136;
	width: 100%;
	padding: 10px 0;
	font-family: 'Bebas Neue', sans-serif;
}

.second-layer-header{
	background-color: #F9EBDE;
	border-radius: 20px;
	padding: 20px;
	width: 95%;
	max-width: 100%;
	margin-left: 15px;

}

nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

nav ul li{
	list-style: none;
}

.nav-button{
	background-color: #F9EBDE;
	color: #5D3136;
	border: solid 1px #E9D5D5;
	border-radius: 20px;
	padding: 8px 18px;
	font-size: 12px;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

.nav-button:hover {
	color:#F9EBDE;
	background-color: #5D3136;
	border-color: #8B3A3A;
}

.login{
	position: relative;
	overflow: hidden;
	background-color: white;
}

